<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../../static/css/global.css">
    </head>
    <body>
        <header>
            <div class="con">
                
                <a href="/">Books Store</a>
                <div>
                    <p>
                        <a href="sign-in">Sign in</a>
                          or  
                        <a href="register">register</a>
                    </p>
                </div>

            </div>
        </header>
        <section class="s-14">
            <div>
                <h5>{{ yes }}</h5> 
                <h6>{{ no }}</h6>
            </div>
            <form action="" method="get">
                <label for="username">username:</label>
                <input id="username" type="text" placeholder="username" name="username">

                <label for="password">password:</label>
                <input id="password" type="password" placeholder="password" name="password">

                <input class="submit" type="submit" name="submit" id="submit">
            </form>
        </section>
        <footer>

        </footer>
    </body>
</html>