section{

    .book{
        display: flex;
        justify-content: space-between;
        width: 650px;
        margin: 0 auto;
        margin-top: 120px;

        & > img{
            width: 350px;
            height: 350px;
            position: relative;
        }
        .h3{
            text-align: center;
            position: absolute;
            margin-left: 80px;
            margin-top: 50px;
            font-family: sans-serif;
            font-size: 24px;
            width: 150px;
            color: rgb(8, 61, 39);
        }
        .info{
            width: 300px;
            height: 350px;

            & > h3,h4,h5,h6,p{
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                font-size: 25px;
                margin-top: 20px;
                font-family: sans-serif;
                color: rgba(0, 44, 4, 0.747);
            }
            
        }
    
    }
}